.wrapper {
  margin: 0 auto;
}

.image {
  margin: 10px auto;
  position: relative;
  margin: 3px 4px 4px 4px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  transition-timing-function: linear;
  float: left;
}

.imageList {
  list-style-type: none;
  padding: 45px 20px 45px 20px;
  min-width: 200px;
  margin: 10px auto;

}


.image:hover{
  opacity: 0.7;
}

.image img {
  width: 270px;
  vertical-align: text-top;
}

.imageDetail {
  text-align: center;
  position: relative;
  margin-top: 100px;
}

.imageDetail img {
  max-height: 600px;
}
