.nav {
  background-color: #444;
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  text-align: center;
  box-shadow: 0px 3px 5px #000;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  color: black;
  padding: 0 20px;
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  cursor: pointer;
}

.nav a:hover {
  background-color: #005f5f;
}

.navbar-logout {

}

.explore {
  position: relative;
  top: 40px;
}

.home-button {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  color: black;
  padding: 0 40px;
  margin-right: 30px;
}
