.splash {
    width: 100%;
    display: block!important;
    background-color: #000000;
    background:url("https://images.unsplash.com/photo-1457955375330-f723ec0e5312?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=b664ae58eff11bf13e136aa03661d06b");

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    min-height: 360px;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;

}


.dreamheader {
  width:100%;
  font-size: 100px;
  text-align: center;
  margin-top: 220px;
  font-family: 'Lato', sans-serif;
  z-index: 3;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
}

.dreamtext {
  margin-top: -40px;
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;

}

.splashSignUp {
  width: 100px;
  position: relative;
  margin: 50px auto;
  text-align: center;
  color: white;
  z-index: 3;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  border: 2px solid white;
  cursor: pointer;
  padding: 10px 10px;
}

.splashSignUp:hover {
  box-shadow: 0px 0px 5px #fff;
}

.splashSignUpContainer {
  align-items: center;
}
