.splash-container {
  position: relative;
  display: flex;
}

.splash {
    width: 100%;
    display: block!important;
    background-color: #000000;
    background:url("https://images.unsplash.com/photo-1449885381849-88def7e55fa0?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450");

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    min-height: 360px;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;

}


.dreamheader {
  width:100%;
  font-size: 100px;
  text-align: center;
  margin: 210px auto;
  margin-bottom: 120px;
  font-family: 'Lato', sans-serif;
  z-index: 3;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.dreamtext {
  margin-top: -40px;
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.5px;

}

.splashSignUp {
  width: 100px;
  position: relative;
  margin: 50px auto;
  text-align: center;
  color: white;
  z-index: 3;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  border: 2px solid white;
  cursor: pointer;
  padding: 10px 10px;
}

.splashSignUp:hover {
  box-shadow: 0px 0px 5px #fff;
}

.splashSignUpContainer {
  align-items: center;
}

.inspire {

  position: relative;
  font-family: 'roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.bg {
  width: 100%;
  display: block!important;
  background-color: #000000;
  background:url("https://images.unsplash.com/photo-1450849608880-6f787542c88a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=900&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1700");

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 360px;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;

}
