@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
	  -webkit-transition: $attr $time $curve;
	  -moz-transition: $attr $time $curve;
	  -o-transition: $attr $time $curve;
	  -ms-transition: $attr $time $curve;
	  transition: $attr $time $curve;
}

.upload-header {
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.upload-form-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  margin: 0 auto;
  float: left;
}


.upload-form {
  position: fixed;
  text-align: center;
  display: block;
  width: 25%;
  height: 100%;
  left: 10%;
  .upload-form-header {
    letter-spacing: 2px;
    font-size: 1em;
  }
  .upload-input{
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid black;
    padding: 3px;
    &:focus,
      &.focused {
        outline:none;
      }
  }
  .upload-textarea {
    border:none;
    width:80%;
    height: 18px;
    resize: none;
    @include ease(333ms);
    border: 1px solid black;
    padding: 3px;
		margin-bottom: 20px;
    &:focus,
      &.focused {
	        outline:none;

					&.upload-textarea {
		          padding-bottom:150px;
	        }
      }
  }

	#upload-submit {
		font-family: "Lato", sans-serif;
	  font-weight: 400;
	  letter-spacing: 2px;
	  cursor: pointer;
	  background-color: #008080;
	  padding: 10px 25px;
	  color: white;
		border:none;
	}

}

.hidden {
  display: none;
}


.upload-button-container {
  position: absolute;
  top: 50%;
  left: 43%;
  margin: auto;
  z-index: 30;
}

.upload-button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #008080;
  padding: 10px 25px;
  color: white;
	margin: 0 auto;
}

.uploaded-images-list {
  width: 68%;
  position: relative;
  left: 15%;
  height: 100%;
}

.thumbnail-container {
  position: relative;
	width: 150px;
	height: 150px;
	display: inline-block;
	overflow: hidden;
	margin: 10px;

  .cancel-image {

		position: absolute;
		right: 9px;
		top: 9px;
		color: #C12121;
		opacity: 0;
		border-radius: 50%;
		background-color: transparent;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
	}

}

.thumbnail {
	position: absolute;
	margin: auto;
	height: auto;
	max-width: 300px;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
}

.thumbnail:hover {
	opacity: 0.7;
}
.thumbnail-container:hover {
	.cancel-image {
		display: block;
		opacity: 1.0;
	}

	.cancel-image:hover {
		color: #FF3A3A;
		cursor: pointer;

		transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
	}

}

input[type="submit"] {
  #upload-submit {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    background-color: black;
    padding: 10px 25px;
    color: white;
  }
}

.selected {
	border: 3px solid black;
}
