.profile-container {
  display: block;
  position: relative;
  top: 44px;
  width: 100%;
  margin: 0;
  padding: 0;
}


.cover-container {
  background-image: linear-gradient(to bottom right, rgba(41, 36, 132, 0.85), rgba(102, 245, 201, 0.85)), url('https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=2e64d706cdaf70e61fd19b37444f615c');
  background-size: 100%;
  position: relative;
  height: 250px;
  width: 100%;
  background-color: teal;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  z-index: 801;

}
.userNavBar {
  z-index: 800;
  position: relative;
  top: 200px;
  width: 100%;
  background: #dedede;
  height: 44px;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.46);
         box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.46);
}

.userNavBar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: left;
  padding-left: 40px;
}

.userNavBar li {
  font-family: 'Lato', sans-serif;
  font-size: .85em;
  line-height: 45px;
  height: 40px;
  display: inline-block;
  color: black;
  margin-left: 30px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-fixed {
    top: 44px;
    z-index: 100;
    position: fixed;
    width: 100%;
}




.cover-header {
  font-weight: 100;
  position: relative;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid white;
  display: inline-block;
  padding: 0.3em 1em 0.5em 1em;
  top: 100px;
}

.profile-images-container {
  position: relative;
}

.no-album {
  top: 250px;
  font-size: 100px;
}
