.profile-container {
  display: block;
  position: relative;
  top: 44px;
  width: 100%;
  margin: 0;
  padding: 0;




}


.cover-container {
  background-image: linear-gradient(to bottom right, rgba(41, 36, 132, 0.85), rgba(102, 245, 201, 0.85));
  position: relative;
  height: 250px;
  width: 100%;
  background-color: teal;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;


}
.scroller {
  z-index: 900;
  position: relative;
  top: 200px;
  width: 100%;
  background: #CCC;
  height: 40px;
}

.navbar-fixed {
    top: 44px;
    z-index: 100;
    position: fixed;
    width: 100%;
}


.cover-header {
  font-weight: 100;
  position: relative;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid white;
  display: inline-block;
  padding: 0.3em 1em 0.5em 1em;
  top: 80px;
}

.profile-images-container {
  position: relative;
}
